@import "../../sass/variables";
@import "../../sass/mixins";

.input-container {
  display: flex;
  justify-content: center;
}

input {
  margin-block-start: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  background-color: rgb(248, 238, 226);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block-start: 20px;
  margin-block-end: 20px;
  gap: 2rem;
  background-image: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .player-container {
    //display: flex;
    &:hover {
      box-shadow: 5px 10px 5px 5px rgba(92, 73, 73, 0.5);
    }
    &:hover img {
      transform: scale(0.97);
    }
    .img-container {
      background-color: burlywood;
      border-radius: 10px;

      //margin-block-end: 20px;

      img {
        width: 250px;
        height: 350px;
        border-radius: 10px 10px 0 0;
        object-fit: cover; //img. containera daha iyi yerlestirir.
        transition: transform 0.8s;
      }

      p {
        font-family: $Font;
        color: #0c0000;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
      }
    }

    .statistics-container {
      background-color: rgb(245, 227, 204);
      border-radius: 10px;
      margin-block-start: 20px;
      margin-block-end: 20px;
      width: 250px;
      height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        margin-block-start: 70px;
        margin-block-end: 50px;
        line-height: 2.5rem;
        li {
          list-style: none;
          margin-inline-start: 50px;
          font-family: $Font;
          font-weight: bold;
        }
      }

      p {
        background-color: burlywood;
        border-radius: 0 0 10px 10px;
        font-family: $Font;
        color: #0c0000;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        padding: 1.2rem;
      }
    }
  }

  @include media-xsm {
    .card-container {
      flex-direction: column;
    }
  }
  @include media-lg {
    .card-container {
      flex-direction: row;
    }
  }
}
